<h1>RickAndMorty#index</h1>
<table>
    <tbody>
        <% @list["results"].each do |one|%>
        <tr>
            <td>
                <%= one['id']%>
            </td>
            <td>
                <%= one['name']%>
            </td>
            <td>
                <%= one['status']%>
            </td>
            <td>
                <%= one['species']%>
            </td>
             <td>
                <%= one['gender']%>
            </td>
             <td>
                <%= one['origin']%>
            </td>
             <td>
                <%= one['location']%>
            </td>
             <td>
                <%= one['image']%>
            </td>
        <tr>
        <% end %>
    </tbody>
</table>

