<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">gender</th>
        <th scope="col">Species</th>
        <th scope="col">Origin</th>
        <th scope="col">Location</th>
    </tr>
  </thead>
  <tbody>
    <% @list["results"].each do |one|%>
        <tr class="align-middle">
            <td>
                <img src=<%= one['image']%> class="img-thumbnail" alt="...">
            </td>
            <td>
                <%= one['name']%>
            </td>
            <td>
                <%= one['status']%>
            </td>
            <td>
                <%= one['gender']%>
            </td>
             <td>
                <%= one['species']%>
            </td>
            <td>
                <%= one['origin']%>
            </td>
             <td>
                <%= one['location']%>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>